<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
<body>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        </style>
<div class="container" style="text-align: left;">
   
    <h3>STATE MASTER</h3>
    <form>
        <div>
       <label for="cars" style="font-size:100%;">ADD NEW STATE:</label> 
        
        <select class="role" name="cars" id="cars">
          <option *ngFor="let country of state" [value]="state">
            {{country.c_Name}}</option>
          
        </select>
         
        </div>


    </form> <br>
 
<input type="text" class="form-control" id="countryname"  placeholder="State Short Name"><br>
<input type="text" class="form-control" id="countryname"  placeholder="State Short Name"><br> 
<button type="submit" class="btn btn-primary">ADD STATE</button>


<br>


    <table class="table table-striped">
        <thead>
            <tr>
               
                <th>COUNTRY NAME</th>
                <th>STATE SHORT NAME</th>
                <th>STATE NAME</th>
                <th>LINK</th>
                <th>DELETE</th>

            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let country of state">
               
                <th>{{country.c_Name}}</th>
                <th>{{country.s_Name}}</th>
                <th>{{country.s_Short_Name}}</th>
                
                <th><button>Link</button></th>
                <th><button>Delete</button></th>

            </tr> 

        </tbody>
    </table>
</div>

</body>
</html>

